.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 18px;
}
.approvebtn {
  background: #ffa600;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  width: 357px;
  padding: 12px 16px;
}
