.container {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background-color: #fff;
	border: 1px solid #e6e6e6;
	box-shadow: 0px 2px 12px 0px #0000001a;
	overflow-x: auto;
	position: relative;
}

.headerContainer {
	width: 100%;
	height: 64px;
	background-color: #fafafa;
	box-shadow: 0px 1px 0px 0px #00000014;
	padding: 7px 6px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.headerFilter {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 64px;
}
.headerItem {
	width: 100%;
	height: 100%;
	padding: 0 2px;
	display: block;
	box-sizing: border-box;
	overflow-x: hidden;
}

.headerItem span {
	font-size: 12px;
	line-height: 15px;
	letter-spacing: -0.005em;
	font-weight: 700;
}

.headerItem input,select {
	width: 100%;
	height: 24px;
	font-size: 12px;
	padding: 0 4px;
	border: 1px solid #cfd8dc;
	border-radius: 6px;
	outline: none;
}

.width100px {
	width: 100px;
	box-sizing: border-box;
}
.width200px {
	width: 200px;
	box-sizing: border-box;
}
.width400px {
	width: 400px;
	box-sizing: border-box;
}
.pageSetup {
	margin-right: 5px;
	display: flex;
	align-items: center;
}
.page {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 5px;
}

.page span {
	font-size: 12px;
	font-weight: 700;
	color: #000000;
}

.list {
	width: 100%;
	height: 80vh;
	overflow-y: auto;
}
.row {
	width: 100%;
	height: 52px;
	padding: 7px 6px;
	display: flex;
	align-items: center;
	border-top: 0.8px solid #cfd8dc;
	border-left: 0.8px solid #cfd8dc;
	border-right: 0.8px solid #cfd8dc;
	cursor: pointer;
}
.row:hover {
	background-color: #dfdfdf;
}
.row div {
	font-size: 12px;
	font-weight: normal;
	color: #4d4d4d;
	padding-left: 6px;
	box-sizing: border-box;
}
.textarea {
	font-size: 12px;
	display: flex;
	align-items: center;
	background: none;
	border: none;
	resize: none;
}
.textarea::-webkit-scrollbar {
	display: none;
}

.datePicker{
	position: absolute;
	top:65px;
	left:0px;
	width: 280px;
	height: 130px;
	background-color: #fff;
	border: 1px solid #c8c8c8;
	box-sizing: border-box;
	display: flex;
	justify-content: space-evenly;
	gap: 20px;
	
}
.dateClose{
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 10px;
	z-index: 1;
	color: red;
	font-size: 13px;
	cursor: pointer;
}
.dateSave{
	position: absolute;
	bottom: 0px;
	right: 0px;
	margin: 10px;
	z-index: 1;
	width: 80px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFA400;
	color: #fff;
	border-radius: 8px;
	font-size: 13px;
	cursor: pointer;
}
.dateItem{
	position: relative;
	width: 40%;
	margin-top: 30px;
	font-size: 12px;
}

