.container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}
.cancelwrapper {
  padding: 8px 12px;

  width: 90px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #eceff1;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;

  color: #78909c;
  margin-right: 12px;
}
.approvewrapper {
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 8px 12px;

  width: 156px;

  background: #ffa600;
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;

  color: #ffffff;
  margin-right: 12px;
}
