.container {
  height: 400px;
  overflow-y: scroll;
}
.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding: 6px 12px;
  cursor: pointer;
}
.wrapper span {
  font-size: 12px;
  font-weight: 400;
  color: #1a1a1a;
}
.wrapper p {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #e6e6e6;
  margin-bottom: 0;
}
.wrapper img {
  width: 22px;
  height: 22px;
  object-fit: contain;
}
