.container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.firstBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  min-width: 150px;
  width: 100%;
  padding: 7px 12px 7px 12px;
  height: 34px;
  cursor: pointer;
  box-sizing: border-box;
  margin-right: 12px;
  background-color: #ffa600;
  border: none;
}

.firstBtn img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  margin-right: 8px;
}
.firstBtn span {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: -1px;
  padding-top: 0.2rem;
}
