.listContainer{
    padding: 0px;
  margin-top: 0px;
  margin-left: 10px;
  border: 0.8px solid #cfd8dc;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 10px);
  height: 40px;
  box-sizing: border-box;
}
.listContainer:hover{
    background-color: #dedede;
}
.listGeneral {
  width: 100%;
  padding-left: 10px;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #37474f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.listText{
    font-size: 12px;
    font-weight: 700;
}
.listID{
    font-size: 12px;
    font-weight: 700;
    width: 50px;
    text-align: center;
}
.listSingle{
    display: flex;
    align-items: center;
    gap: 15px;
  
}
.listSingle img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.deleteIcon{
    width: 22px  ;
    height: 22px ;
    margin-right: 10px;
    cursor: pointer;
}
