.container{
  display: flex;
  flex-direction: column;
  width: 1300px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  padding: 0px 10px;
}
.footer{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 80px;
}
.footer button {
  padding: 10px !important;
  height: max-content;
}