.container{
  display: flex;
  align-items: center;
  gap: 10px;
  width: max-content;
  margin-top: 20px;
  height: 80px;
  background-color: #ececec;
}
.oneField{
  display: flex;
  flex-direction: column;
  width: 150px;
}
.oneField input {
  border: 1px solid #cfd8dc;
  border-radius: 6px;
  font-size: 12px;
  height: 30px!important;
  padding: 5px 10px;
}
.oneField span{
  font-size: 12px;
  font-weight: 700;
}
