.container {
  position: fixed;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6);
  border-top: 1px solid #cfd8dc;
  z-index: 145;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  display: flex;
  background-color: #fff;
  width: 450px;
  height: 600px;
  border-radius: 12px;
  padding: 16px;
  flex-direction: column;
  align-content: space-between;
  position: relative;
}
.headermain {
  width: 100%;
}
.header {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.header img {
  width: 25px;
  height: 25px;
}
.body {
  border-radius: 6px;
  overflow: hidden;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 10px;
  overflow: hidden;
}
.cancel {
  background-color: #cfd8dc;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 6px;
  cursor: pointer;
}
.confirm {
  background-color: #ffa600;
  border-radius: 6px;
  border: none;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 4px 6px;
  cursor: pointer;
}
.subheader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #e5e5e5;
  padding: 10px 0;
}
.subheader div {
  font-size: 12px;
  font-weight: 600;
}
.subbody {
  width: 100%;
  overflow-y: scroll;
  height: 400px;
}
.subaguulah {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #cfd8dc;
  padding: 6px 0;
}
.subaguulah div {
  font-size: 12px;
}

.searchInput {
  border: 1px solid #eeee;
  border-radius: 5px;
  font-size: 14px;
}

.searchContainer {
  margin-top: 10px;
  margin-bottom: 10px;
}