.container {
  display: flex;
  flex-direction: column;
}
.header {
  font-weight: 700;
  font-size: 20px;

  color: #37474f;
  border-bottom: 1px solid #cfd8dc;
  margin-bottom: 16px;
}
.wrapper {
  width: 100%;
}
.slideList {
  left: 00%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
