.selectContainer {
  gap: 24px;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.selectContainer div {
  max-width: 200px;
  width: 100%;
}
.calendarContainer {
  width: 100%;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.daysContainer {
  display: flex;
  width: 350px;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dayContainer {
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  padding: 4px 5px;
  width: 80px;
}
.headerContainer {
  color: #37474f;
  font-size: 46px;
  font-weight: 700;
}
.calendarsContainer p {
  color: #37474f;
  font-size: 20px;
  font-weight: 700;
}

.channelChoseContainer {
  border: 1px solid #cfd8dc;
  padding: 16px 20px;
  width: 100%;
  height: 36px;
  background-color: #fff;

  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.channelChoseContainer span {
  color: #263238;
  font-weight: 400;
  font-size: 16px;
}
.calContainer {
  background-color: #fff;
  overflow-y: auto;
  height: 500px;
}
input.inputchecked {
  width: 20px !important;
  height: 20px !important;

  box-sizing: border-box;
}
input.inputchecked::selection {
  background-color: red;
}
.hourcontainer {
  width: 50px;
}
.hourcontainer input {
  outline: none;
  border: 1px solid #ffa400;
  padding: 6px;
  border-radius: 6px;
}
.selectoptioncontainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.selectOption {
  padding: 6px 8px;
  border-radius: 10px;
  border: 1px solid #cfd8dc;
  cursor: pointer;
  font-size: 14px;
  height: 36px;
}
.selectOption option {
  font-size: 14px;
}
.selectOption:focus {
  outline: none;
  border: 1px solid #ffa400;
}
