.container {
  display: flex;
  align-items: center;
  gap: 10px;
  border-bottom: 1px solid #cfd8dc;
  padding: 6px 4px;
  width: 100%;
  cursor: pointer;
}
.container div {
  font-size: 12px;
  font-weight: 400;
  color: #37474f;
}
.productname {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
