.Container {
    display: flex;
    flex-direction: row;
    background-color: #F5F5F5;
    position: relative;
    top: 0;
    height: -webkit-fill-available;
}

.sidebarWrapper {
    display: inherit;
    flex-direction: column;
    width: 224px;
}


.order-container {
    display: flex;
    flex-direction: column;
  }
  
  .header,
  .order-row {
    display: flex;
  }
  
  .header > div,
  .order-row > div {
    flex: 1;
    padding: 8px;
    background-color: #FAFAFA;
  }
  
  .order-row > div img {
    max-width: 100px;
    height: auto;
  }
  

  .header div {
    color: #1A1A1A;
    font-weight: bold;
    font-size: 10px;
  }

  .header {
    height: 54px;
  }
  .header input {
    border: 1px solid #CCCCCC;
    height: 25px;
    padding: 4px;
  }

  .header input:nth-child(1) {
    width: 55px;
  }

  .payment_mode {
    width: 66px;
  }


  .flex {
     display: flex
  }

  /* modal */


.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
 }
 .modal-content {
  border: 1px solid #fff;
  width: 400px;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px 16px;
 }
 .exit-icon {
  cursor: pointer;
  font-size: 20px;
  text-align: end;
 
 }
 
 .modal-mainContents {
   display: flex;
   flex-direction: column;
   gap: 20px;
   margin-top: 20px;
   
 }
 .modal-mainContents input {
  padding: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
 }
 .modal-button {
   display: flex;
   justify-content: space-around;
   gap: 20px;
   border-radius: 5px;
 }
 .modal-button button {
  /* border: 1px solid #6821c3; */
  padding: 6px;
  width: 8rem;
  /* background-color: #6821c3; */
  /* color: white; */
  border-radius: 7px;
 }

 .pdf-content {
  font-family: Arial, sans-serif;
}

.container-p {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header-p {
  grid-column: 1 / -1; 
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-weight: bold;
  text-align: center;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
}

.header-cell {
  padding: 5px;
  border-right: 1px solid #ddd;
  font-size: 12px;
  line-height: 22px;
}

.table-container {
  grid-column: 1 / -1; 
  font-size: 12px;
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  border-top: 1px solid #ddd;
  height: 60px;
}

.cell {
  padding: 5px;
  text-align: center;
  border-right: 1px solid #ddd;
}

.cell:last-child {
  border-right: none;
}
