.productheader {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
  background-color: #fafafa;
  margin-top: 1rem;
  border-bottom: 1px solid #a1a1a1;
}
.product span {
  font-size: 12px;
  font-weight: 700;
  color: #1a1a1a;
  width: 100%;
}
.product input {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #1a1a1a;
  padding: 5px;
}
.product input:focus {
  border: 1px solid #2ab674;
  outline: none;
}
.productbody {
  overflow-y: scroll;
  height: 40vh;
 
}
