.container{
  height: 80vh;
  overflow: scroll;
}
.rowContainer{
  display: flex;
  align-items: center;
  gap:10px;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #cfd8dc;
  border-left: 1px solid #cfd8dc;
  border-right: 1px solid #cfd8dc;
}
.rowContainer div{
  /* background-color: #cfd8dc; */
  display: flex;
  justify-content: center;
  padding: 2px 5px;
  width: 80px;
}
.rowContainer span{
  font-size: 12px;
  font-weight: 400;
  color: #37474F;
  line-height: 14px;
  align-items: center;
}
.imageWrapper{
   width: 70px;
  height: 36px;
}
.imageWrapper img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}