.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  border-bottom: 1px solid #00000014;
  padding: 5px 0px;
  cursor: pointer;
}
.container img {
  margin-right: 10px;
}
.container span {
  font-size: 14px;
  color: #1a1a1a;
  font-weight: 400;
}
