.container {
  display: flex;
  height: calc(100vh - 200px);
  width: 100%;
  gap: 10px;

  background-color: #fff;
}
.closewrapper {
  position: absolute;
  right: 10px;
  top: 10px;
}
.closewrapper img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.shopscontainer {
  height: calc(100vh - 200px);
  overflow-y: scroll;
}
.shopswrapper {
  overflow-y: scroll;
  height: 80%;
}
.wrapper {
  display: flex;
  align-items: center;
}
.wrapper img {
  width: 20px;
  height: 20px;
}
.wrapper span {
  font-size: 12px;
  font-weight: 400;
  color: #37474f;
}
.btncontainer {
  width: 100%;
  text-align: end;
  /* height: 53px; */
}
.btn {
  background-color: #ffa600;
  color: #fff;
  font-size: 12px;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 1rem;
  cursor: pointer;
}
.channelcontainer {
  height: calc(100vh - 200px);
  overflow-y: scroll;
}
.maincontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 53px);
  width: calc(100% - 73px);
  background-color: #fff;
  border-top: 1px solid #f6f7f8;
  padding: 10px;
  position: fixed;
  top: 53px;
  left: 73px;
  z-index: 150;
}
.soumscontainer {
  height: 90%;
  overflow-y: scroll;
  width: 200px;
}
.aimagcontainer {
  height: 100%;
  overflow-y: scroll;
}
.ubcontainer {
  height: 100%;
  overflow-y: scroll;
}
.inputwrapper {
  width: 100%;
  margin-bottom: 10px;
}
.inputwrapper input {
  width: 250px;
  border: 1px solid #37474f;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 12px;
}
.inputwrapper input:focus {
  outline: none;
  border: 1px solid #ffa600;
}
.spanwrapper {
  font-size: 12px;
  font-weight: 700;
  color: #37474f;
}
.suppliercontainer {
  width: 400px;
}
.suppliercontainer select {
  font-size: 12px;
  color: #37474f;
  font-weight: 400;
  cursor: pointer;
  padding: 6px;
  border-radius: 6px;
}
.suppliercontainer select:focus {
  outline: none;
  border: 1px solid #ffa600;
}

.suppliercontainer option {
  font-size: 12px;
  color: #37474f;
  font-weight: 400;
}
