.printRecieptContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  overflow-y: auto;
  /* padding-top: 250px; */
}

.receiptContainer {
  min-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3), 0px -1px 6px rgba(0, 0, 0, 0.3);
  padding: 30px 20px;
  position: relative;
}

.receiptWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.receiptWrapper > .title {
  text-align: center;
  margin-top: 0 !important;
  margin-bottom: 30px !important;
  font-size: 24px !important;
  font-weight: 700 !important;
  line-height: 1 !important;
  letter-spacing: -0.005em !important;
  display: block;
}

.shipmentDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.shipmentDetails > span {
  font-size: 14px !important;
  line-height: 1 !important;
  letter-spacing: -0.005em !important;
  font-weight: 600 !important;
}

.inventoryDetails {
  margin-bottom: 50px;
}

.inventoryDetails > h3 {
  font-size: 14px !important;
  line-height: 1 !important;
  letter-spacing: -0.005em !important;
  font-weight: 700 !important;
  margin: 0 !important;
  margin-bottom: 5px !important;
}

.invenNames {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.invenNames > span {
  font-size: 14px !important;
  line-height: 1 !important;
  letter-spacing: -0.005em !important;
  font-weight: 600 !important;
  margin: 0 !important;
}

.productTables {
  width: max-content !important;
  margin-bottom: 30px !important;
  flex: 1 !important;
}

.productTables thead th {
  font-weight: 700 !important;
  background-color: antiquewhite !important;
  font-size: 14px !important;
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  white-space: nowrap;
}

.productTables tbody td {
  font-size: 12px !important;
  white-space: nowrap !important;
}

.productFooterWrapper {
  margin: 0 20px 30px 20px;
}

.productsDetail {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
}

.productsDetail > span {
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: -0.005em !important;
  font-weight: 600 !important;
}

.productsDetail > div {
  margin-top: 10px;
  font-size: 18px !important;
  line-height: 1 !important;
  letter-spacing: -0.005em !important;
  font-weight: 700 !important;
}

.infoFooter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infoFooter > .rightSide {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.infoFooter > .rightSide > span {
  font-size: 14px !important;
  line-height: 24px !important;
  letter-spacing: -0.005em !important;
  font-weight: 600 !important;
}

.infoFooter > .leftSide {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px !important;
  line-height: 1 !important;
  letter-spacing: -0.005em !important;
  font-weight: 700 !important;
  margin: 0 !important;
}

.printBtn {
  display: flex;
  align-items: center;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.loadingSpinner {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
