
.order_index {
  align-items: center;
  justify-content: center;
}

.order_index > div {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.order_wrapper {
  height: calc(100vh - 241px);
  min-width: 3050px;
}

.order_id {
  width: 80px;
}

.order input {
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.order h5 {
  font-size: 10px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.order input[type="text"] {
  border: 1px solid #ccc;
  font-size: 0.75rem;
  color: #1a1a1a;
  margin: 0;
  border-radius: 2px;
  height: 26px;
  box-sizing: border-box;
  padding: 0 0.25rem;
  border-radius: 5px;
}

.order_supplier {
  width: 125px;
}

.list_header {
  background: #f4f4f4;
}

.order {
  height: 52px;
  border-bottom: 1px solid #ccc;
}

.order > div {
  height: 52px;
  display: inline-block;
  float: left;
}

.order span {
  font-size: 0.75rem;
  padding: 0;
  margin: 0;
  display: block;
}

.order > div:not(:first-child) {
  padding: 0 1rem 0 0;
}

.order input[type="checkbox"] {
  margin: 0;
}

.fullcontainer {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.order:hover {
  background-color: #eee;
  cursor: pointer;
}

.order input:hover {
  border-color: #aaa;
}

.order_commonfield {
  width: 120px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #333;
  border-top: 5px solid #fff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.order select {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.col_wrapper {
  display: flex;
  gap: 6px;
  padding-left: 20px;
}

.fullcontainer .statusbar {
  width: 75px;
  height: 15px;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 9px;
  white-space: nowrap;
}
.delivery_date {
  margin-left: 30px;
}

.payment_mode {
  margin-left: 35px;
}

.price_wrapper {
  flex-direction: column;
}

.price_wrapper span:last-of-type {
  color: #8dc543;
}
.cancel_reason {
  width: 150px;
  margin-left: 30px;
  text-align: center;
}

.phone {
  width: 75px;
  text-align: justify;
  margin-top: 10px;
}
.business_type {
  width: 140px;
}
.tradeshop_district,
.tradeshop_district {
  width: 120px;
}

.tradeshop_city {
  width: 130px;
}

.full_address {
  width: 280px;
  line-height: 16px;
  font-size: 9px !important;
}

.merchant span {
  width: 135px;
}

.tradeshop_horoo {
  width: 120px;
}

.payment_type {
  width: 100px;
}

.pick_pack {
  width: 120px;
}

.origin {
  width: 120px;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px 6px;
  position: relative;
  bottom: 0;
}

.wrapper {
  padding: 4px;
  box-sizing: border-box;
}
.wrapper div {
  font-weight: 700;
  font-size: 10px;
}
.statuscontainer {
  display: flex;
  align-items: center;
}
.firswrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 37px;
  height: 20px;
  background: #d9d9d9;
  border-radius: 3px;
}
.firswrapper span {
  font-weight: 700;
  font-size: 10px;
  color: #4d4d4d;
}
.secondwrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: 8px;
}
.secondwrapper span:first-child {
  font-weight: 400;
  font-size: 10px;
  color: #4d4d4d;
}
.secondwrapper span:last-child {
  font-weight: 700;
  font-size: 14px;
  color: #1a1a1a;
}
.footerspan {
  font-weight: 400;
  font-size: 10px;
  color: #4d4d4d;
}
.footerspantww {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 1500px) {
  .wrapper div {
    font-size: 10px;
  }
}

.idWrapper {
  justify-content: center;
}
.OrderPageWrapper {
  overflow-y: scroll;
}
.container {
  gap: 10px;
}

.container .wrapper {
  width: 168px;
  height: 52px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #E6E6E6;
  align-items: center;
  padding-left: 10px;
}

.vat{
  width: 120px;
}
.salesman ,.butsaalt {
  width: 110px;
}

.manager {
  width: 120px;
}

.deliveryman {
  width: 110px;
}

.delguur {
  width: 528px;
  height: 190px;
  padding: 10px 16px;
  border: 1px solid #E6E6E6;
  box-shadow: 0px 2px 12px 0px #0000001A;
  border-radius: 4px;
  position: relative;
}

.delguur_name {
  font-size: 14px;
  font-weight: bold;
}

.delguur svg {
  width: 28px;
  height: 28px;
}

.delguur_top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tulsun {
  display: flex;
  flex-direction: column;
  width: 65px;
  margin-top: 5px;
  height: 33px;
  border: 1px solid #2AB674;
  padding: 0 6px;
  border-radius: 5px;
}

.uldsen {
  display: flex;
  flex-direction: column;
  width: 65px;
  margin-top: 5px;
  height: 33px;
  border: 1px solid #DA1414;
  padding: 0 6px;
  border-radius: 5px;
}

.delguur_btm {
  border-top: 1px solid #E6E6E6;
  margin-top: 5px;
}

.line-section {
  width: 100%;
  margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.line-section img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border: 1px solid #CCCC;
  border-radius: 5px;
  padding: 3px;
}

.product-info {
  display: flex;
  flex-direction: column;
    position: relative;
    width: 407px;
}

.product-line {
  display: flex;
  height: 67px;
  align-items: center;
  gap: 10px;
  position: relative;
    border-bottom: 1px solid #E6E6E6;
    padding-bottom: 40px;
    padding-top: 40px;
}

.line-btm {
  display: block;
  position: relative;
  }
  
  .btn_edit {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .edit_b {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }
  
  .btn_btm {
    position: fixed;
    bottom: 10px;
    display: flex;
    gap: 50px;
    width: 100%;
    background-color: #fff;
    height: auto;
    padding: 20px;
    margin-top: 50px;
  }
  
  .btn_btm button {
    width: 170px;
    height: 44px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .tabs-container {
    border: none;
    border-radius: 4px;
    overflow: hidden;
    margin-top: 40px;
  }
  
  .tabs-header {
    display: flex;
  }
  
  .tab-item {
    padding: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  .tab-item.active {
    background-color: #fff;
    font-weight: bold;
  }
  
  .tab-content {
    padding: 10px;
    margin-bottom: 50px;
  }
  
  .notif {
    font-size: 12px;
  }
  
  .notif_head {
    width: 105px;
    height: 24px;
    border: 1px solid #2AB674;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.5%;
    color: #2AB674;
    white-space: nowrap;
    border-radius: 4px;
  }
  
  .notif_ctr {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 135px;
    box-shadow: 0px 2px 12px 0px #0000001A;
    padding: 10px 16px;
    border-radius: 4px;
  }
  
  .notif_ctr p {
    font-size: 12px;
}












/* modal */


.modal {
 position: fixed;
 left: 0;
 top: 0;
 right: 0;
 bottom: 0;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 align-items: center;
 justify-content: center;
}
.modal-content {
 border: 1px solid #fff;
 width: 400px;
 background-color: #fff;
 border-radius: 15px;
 padding: 20px 16px;
}
.exit-icon {
 cursor: pointer;
 font-size: 20px;
 text-align: end;

}

.modal-mainContents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  
}

.modal-button {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.modal-button button {
 /* border: 1px solid #6821c3; */
 padding: 6px;
 width: 8rem;
 /* background-color: #6821c3; */
 /* color: white; */
 border-radius: 7px;
}
