.container {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 ;
}

.left,.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.left span{
 width: 100%;
}
.right span{
  display: flex;
  justify-content: flex-end;
}
.name {
  width: 50%;
  overflow: hidden;
}
.status{
  margin: 0 5px;
}
.container span {
  font-size: 12px;
  font-weight: 400;
}
.date {
  font-size: 12px;
  font-weight: 400;
}
