.headerContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 54px;
  background-color: #fafafa;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.08);
  padding: 7px 0;
  min-width: 100%;
}

.wrapper {
  height: 100%;
  /* padding: 0 4px; */
  display: flex;
  align-items: center;
}

/* ---------------------- */

.fieldWrapper {
  height: 100%;
  padding: 0 6px;
}

.fieldTitle {
  color: #1a1a1a;
  margin-bottom: 2px;
  font-size: 12px;
  letter-spacing: -0.005em;
  line-height: 12px;
  font-weight: 700;
  display: block;
}
