.container{
  position: absolute;
  top: -54px;
  left: -70px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0,0.3);
  z-index: 1000;
}
.sidebar{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 550px;
  padding: 20px;
  height: 100vh;
  background-color: white;
}