.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  gap: 5px;
  background-color: #fff;
}

.picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.text {
  display: flex;
  flex-direction: row;
  align-items: center;
}