.container {
  position: fixed;
  top: 54px;
  left: 73px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  z-index: 100;
}
.wrapper {
  /* max-width: 900px; */
  width: calc(100% - 73px);
  height: calc(100% - 53px);
  background-color: #fff;
  /* border-radius: 12px; */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}
.garchig {
  font-size: 16px;
  font-weight: 700;
  color: #37474f;
}
.btnwrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btnwrapper .confirm {
  background-color: #ffa600;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border: none;
  padding: 6px;
  border-radius: 6px;
}
.smallwrapper {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 6px 0px;
  border-bottom: 1px solid #cfd8dc;
}
.smallwrapper img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.smallwrapper span {
  font-size: 12px;
  font-weight: 400;
  color: #37474f;
}

.smallcontainer {
  height: calc(100vh - 150px);
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
}
.bigcontainer {
  height: 90%;
  display: flex;
}
.wrapperbtn {
  margin-right: 10px;
  background-color: #cfd8dc;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border: none;
  padding: 6px;
  border-radius: 6px;
}
.xtwrapper {
  max-width: 300px;
  width: 100%;
}
.productwrapper {
  display: flex;
  flex-direction: column;
  height: 80%;

  width: 300px;
}
.inputvalue {
  font-size: 12px;
  font-weight: 400;
  color: #37474f;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid #cfd8dc;
}
.inputvalue:focus {
  outline: none;
  border: 1px solid #ffa600;
}
.spanvalue {
  font-size: 12px;
  font-weight: 700;
  color: #37474f;
}
.nextwrapper {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.nextwrapper img {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}

.productchecker {
  display: flex;
  align-items: center;
}
.productchecker img {
  width: 15px;
  height: 15px;
  margin-right: 6px;
}
.productchecker span {
  font-size: 12px;
  font-weight: 700;
  color: #37474f;
}
.productcontainer {
  display: flex;

  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fbfbfc;
  padding: 3px 0;
  border: 1px solid #cfd8dc;
  width: 100%;
  gap: 6px;
}
.body {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.onewrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3px 0;
  border-bottom: 1px solid #cfd8dc;
  gap: 6px;
}
.oneitem img {
  width: 20px;
  height: 20px;
}
.oneitem span {
  font-size: 12px;
  font-weight: 400;
  color: #37474f;
}
.oneheader span {
  font-size: 12px;
  font-weight: 700;
  color: #37474f;
}
.oneheader input {
  width: 100px;
  font-size: 12px;
  font-weight: 400;
  color: #37474f;
  border: 1px solid #cfd8dc;
  padding: 4px;
  border-radius: 6px;
}
.oneheader input:focus {
  outline: none;
  border: 1px solid #ffa600;
}
.oneheader select {
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: #37474f;
  border: 1px solid #cfd8dc;
  padding: 4px;
  border-radius: 6px;
}
.oneheader option {
  font-size: 12px;
  font-weight: 400;
  color: #37474f;
}
.oneheader select:focus {
  outline: none;
  border: 1px solid #ffa600;
}
