.wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 6px 14px;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  margin-top: 0px;
  /* height: 18px; */
  margin-bottom: 0px;
}
.wrapper:hover {
  background: #fafafa;
}
.wrapper img {
  width: 15px;
  height: 15px;
}
.wrapper span {
  font-size: 14px;
  font-weight: 400;
  color: #4d4d4d;
  margin-left: 8px;
}
