.container {
    width: 44px;
    height: 22px;
    background-color: #CCCCCC;
    border-radius: 16px;
    cursor: pointer;
    position: relative;
    padding: 2px;
    transition: all .2s;
}

.switch {
    position: absolute;
    top: 2px;
    right: calc(100% - 20px);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #fff;
    transition: all .2s;
}

.container.checked {
    background-color: #8DC543;
}

.container.checked .switch {
    right: 2px;
}