
.date-filter {
    margin-bottom: 10px;
  }
  .date-filter select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none;
    width: 224px;
  }
  
  .date-filter select:hover {
    border-color: #999;
  }
  
  .date-filter select:focus {
    border-color: #66afe9;
    box-shadow: 0 0 0 2px rgba(102, 175, 233, 0.6);
  }
  