*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  background-color: white;
  /* overflow: scroll; */
  position: relative;
  height: 100%;
  overflow: scroll;
  /* margin-top: -10px; */
  /* width: 2508px; */
  padding: 0 40px;
  padding-top: 2.5rem;
}
.headTop{
  display: flex;
  justify-content: space-between;
  font-size: xx-small ;
  /* width: 2508px; */
}
.headTop p{
  font-size: 10px!important;
}
.headStatus{
  display: flex;
  align-items: center;
  border-bottom:1px solid grey ;
  /* padding: 50px; */
}
.statusCol{
  display: flex;
  flex-direction: column;
}
.statusCol h1{
line-height: 20px!important ;  
font-size:11px!important ;
}
.statusCol p{
  font-size: 10px!important;
  margin: 0;
}
.info p{
  font-weight: bold;
  font-size: 10px!important;
}
.info p span{
  font-size: 10px!important;
}
.info{
  display: flex;
}
.headInformation{
  display: flex;
  justify-content: space-between;
}
.orderDate{
  display: flex;
  justify-content: space-between;
}
.confirmOrder{
  display: flex;
}
.warning{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

}
.warning p {
  font-size: 10px!important;
}
.printBtn{
  width: 110px;
  background-color: #2ab674;
  border-radius: 0px 4px 0px 4px;
  padding: 6px 12px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
  text-align: left;
  /* font-size: 30px!important; */
  color: white;
  /* position: sticky; */
  left: 0;
  bottom: 0;
}
.closeBtn{
  position: fixed ;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 99;
  background-color: white;
  border-radius: 50%;
}
.info p{
  margin-right: 10px ;
}

.infoLeft{
  display: flex;
  flex-direction: column;
}
.regPhone{
  display: flex;
}

tr:nth-child(21){
  page-break-after: always;
}
tr:nth-child(50){
  page-break-before: always;
}
tr:nth-child(79){
  page-break-after: always;
}
tr:nth-child(108){
  page-break-after: always;
}
tr:nth-child(137){
  page-break-after: always;
}

.tworowtext {
line-height: 16px;
font-size: 10px;
margin: 0;
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2;
-webkit-box-orient: vertical;
}
.container_tworowtext {
  height: 32px;
overflow: hidden;
display: flex;
align-items: center;
}